<!DOCTYPE html>
<html lang="zh_TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UD官網</title>
        <meta property="og:site_name" content="UD官網" />
        <meta property="og:title" content="UD官網" />
        <meta property="og:description" content="UD官網。" />
        <meta property="og:locale" content="zh_TW" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <body>
        <header>
            <div>
                <img src="../assets/res/01桌機主頁/Logo/Normal.jpg" alt="" />
            </div>
            <div class="navigation">
                <nav>
                    <ul class="menu_navigation">
                        <li><a href="javascript:;">關於｜ABOUT</a></li>
                        <li><a href="javascript:;">案例｜PROJECTS</a></li>
                        <li><a href="javascript:;">服務｜SERVICE</a></li>
                        <li><a href="javascript:;">聯繫｜CONTACT</a></li>
                    </ul>
                    <ul class="menu_socialicon">
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="btnBurger">
                <img src="../assets/res/01桌機主頁/Property 1=Menu, Property 2=Normal.png" alt="" />
            </div>
        </header>
        <h1>UNITE DESIGN - ABOUT</h1>
        <div class="addition" id="btn_gotop">
            <span class="material-symbols-outlined"> arrow_drop_up </span>
        </div>
        <div class="addition" id="btn_contact">
            <span class="material-symbols-outlined"> call </span>
            <span>立即聯絡</span>
        </div>
        <!-- BANNER -->
        <div class="subpage s_banner">
            <h2>ABOUT</h2>
        </div>
        <!-- BREADCRUMB -->
        <div class="subpage s_breadcrumb">
            <a href="javascript:;">回首頁</a><span> > </span><a href="javascript:;">關於</a><span></span>
        </div>
        <!-- ABOUT-->
        <section class="layout_content_about">
            <div>
                <p>
                    UNITE DESIGN
                    集結創新人才，為客戶提供品牌設計或企業訓練，包括問題診斷，戰略思考，視覺識別設計，網站設計，直至空間形象創作計劃等，提供
                    完整、全面的品牌或企業整合設計服務。
                </p>
                <p>
                    我們的主要任務和目標是通過我們的設計專業向公眾傳達信息。用視覺說故
                    事，解決客戶營銷和廣告方面的問題外，我們還希望積極為客戶創造「品牌」
                    和「廣告價值」。而廣告、網路行銷和設計的三方整合和項目開發是公司最大的整合能力。針對客戶量身定制不同風格的設計呈現，創作「優秀」與「細節」
                    疊加「產品故事」，除了讓顧客達到商業需求外，還具有藝術審美價值的品牌， 讓設計歷久彌新。
                </p>
                <p>
                    The team of five at Unite Design works under the aegis of the APPEDU educational institution. It is
                    an experimental design company which acts as a link between the training facility and industry.
                    Here, students can gain practical experience and become familiar with the requirements companies
                    have. “We put a premium on visual storytelling that not only shines with images but also reveals
                    strategies for the future and is borne by boundless creativity”. That much everyone at Unite Design
                    can agree on. The poster medium is just one of many to which this maxim applies.
                </p>
            </div>
        </section>
        <section class="layout_content_about_grid">
            <div>
                <img src="../assets/res/02桌機關於/Group 2633.png" alt="" />
            </div>
            <div>
                <p>
                    方與圓本原設計的基本元素，取 - 微妙平衡之緻，造 - 和諧完美之魅，沒有規矩不能成方圓，規
                    矩是方圓之極，兼具左腦和右腦的團隊，方中帶圓的多元設計方式。<br />
                    描繪的不只是圖像，而是未來的策略和無邊的創意!廣告、網路行銷及設計三方整合是的最大
                    「整合」能力優勢。<br />
                    我們將為您的品牌找出專屬的 DNA，賦予生命，實現您最原始的目標。<br />
                    進行的品牌設計或企業設計創造，問題診斷 / 策略思考 / 廣告方案 / 進行媒體整合，提供完
                    整且全方位的品牌或企業整合設計服務。
                    擅長的視覺說故事的方式，解決客戶行銷與廣告上的盲點，並主動幫客戶創造「品牌及廣告價
                    值」，不同的風格的演繹與表現，配合客戶量身打造，打造出「規」與「矩」的至極平衡專案，
                    達到商業需求外，更同時擁有藝術美學價值品牌。
                </p>
            </div>
        </section>

        <footer>
            <div class="footer_logo">
                <img src="../assets/res/01桌機主頁/主頁_footer_logo.png" alt="" />
            </div>
            <div class="footer_nav">
                <nav>
                    <ul class="footer_nav_menu">
                        <li><a href="javascript:;">關於｜ABOUT</a></li>
                        <li><a href="javascript:;">案例｜PROJECTS</a></li>
                        <li><a href="javascript:;">服務｜SERVICE</a></li>
                        <li><a href="javascript:;">聯繫｜CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer_info">
                <p>contact@uddesign.com.tw</p>
                <p>100台北市中山區忠孝西路一段6號16樓</p>
            </div>
            <hr />
            <div class="footer_copyright">
                <ul class="footer_copyright_icon">
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                </ul>
                <p>©2023 by UNITE DESIGN</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="../assets/js/script.js"></script>
    </body>
</html>
