<!DOCTYPE html>
<html lang="zh_TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UD官網</title>
        <meta property="og:site_name" content="UD官網" />
        <meta property="og:title" content="UD官網" />
        <meta property="og:description" content="UD官網。" />
        <meta property="og:locale" content="zh_TW" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <body>
        <header>
            <div>
                <a href="/index.html">
                    <img src="../assets/res/01桌機主頁/Logo/Normal.jpg" alt="" />
                </a>
            </div>
            <div class="navigation">
                <nav>
                    <ul class="menu_navigation">
                        <li><a href="/Views/about.html">關於｜ABOUT</a></li>
                        <li><a href="/Views/project.html">案例｜PROJECTS</a></li>
                        <li><a href="/Views/service.html">服務｜SERVICE</a></li>
                        <li><a href="/Views/contact.html">聯繫｜CONTACT</a></li>
                    </ul>
                    <ul class="menu_socialicon">
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="btnBurger">
                <img src="../assets/res/01桌機主頁/Property 1=Menu, Property 2=Normal.png" alt="" />
            </div>
        </header>
        <h1>UNITE DESIGN - CONTACT</h1>
        <div class="addition" id="btn_gotop">
            <span class="material-symbols-outlined"> arrow_drop_up </span>
        </div>
        <div class="addition" id="btn_contact">
            <span class="material-symbols-outlined"> call </span>
            <span>立即聯絡</span>
        </div>
        <!-- BANNER -->
        <div class="subpage s_banner">
            <h2>SERVICE</h2>
        </div>
        <!-- BREADCRUMB -->
        <div class="subpage s_breadcrumb">
            <a href="javascript:;">回首頁</a><span> > </span><a href="javascript:;">服務</a><span></span>
        </div>
        <!-- CONTACT -->
        <section class="layout layout_contact">
            <div class="layout_contact_content">
                <div class="layout_contact_title">
                    <h2>Let’s Work Together</h2>
                    <p>If you’d like to meet up, talk through a project or find out more, feel free to get in touch.</p>
                    <p>我們很樂於挑戰各種可能性，若您有品牌或設計相關的需求，歡迎填寫我們的諮詢表單或發信至：</p>
                    <p>contact@uddesign.com.tw</p>
                </div>
                <div class="layout_contact_form">
                    <form action="">
                        <div class="form_layout">
                            <label for="company_name">公司名稱</label><br />
                            <input
                                type="text"
                                id="company_name"
                                name="company_name"
                                value=""
                                placeholder="請輸入公司名稱"
                            />
                        </div>
                        <div class="form_layout form_flex">
                            <div>
                                <label for="user_name">聯絡人名稱</label><br />
                                <input
                                    type="text"
                                    id="user_name"
                                    name="user_name"
                                    value=""
                                    placeholder="請輸入聯絡人名稱"
                                />
                            </div>
                            <div>
                                <label for="phone">電話</label><br />
                                <input type="tel" id="phone" name="phone" value="" placeholder="請輸入電話" />
                            </div>
                        </div>
                        <div class="form_layout">
                            <label for="message">留言</label><br />
                            <textarea name="message" id="" cols="30" rows="10" placeholder="請輸入留言"></textarea>
                        </div>
                        <input id="submit" type="submit" value="SEND" />
                        <div class="form_social">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <img
                                            src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png"
                                            alt=""
                                        />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img
                                            src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png"
                                            alt=""
                                        />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img
                                            src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png"
                                            alt=""
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer>
            <div class="layout_footer">
                <div class="footer_logo">
                    <img src="../assets/res/01桌機主頁/主頁_footer_logo.png" alt="" />
                </div>
                <div class="footer_nav">
                    <nav>
                        <ul class="footer_nav_menu">
                            <li><a href="/Views/about.html">關於｜ABOUT</a></li>
                            <li><a href="/Views/project.html">案例｜PROJECTS</a></li>
                            <li><a href="/Views/service.html">服務｜SERVICE</a></li>
                            <li><a href="/Views/contact.html">聯繫｜CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_info">
                    <p>contact@uddesign.com.tw</p>
                    <p>100台北市中山區忠孝西路一段6號16樓</p>
                </div>
                <hr />
                <div class="footer_copyright">
                    <ul class="footer_copyright_icon">
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                    </ul>
                    <p>©2023 by UNITE DESIGN</p>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="../assets/js/script.js"></script>
    </body>
</html>
