<!DOCTYPE html>
<html lang="zh_TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UD官網</title>
        <meta property="og:site_name" content="UD官網" />
        <meta property="og:title" content="UD官網" />
        <meta property="og:description" content="UD官網。" />
        <meta property="og:locale" content="zh_TW" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <body>
        <header>
            <div>
                <img src="../assets/res/01桌機主頁/Logo/Normal.jpg" alt="" />
            </div>
            <div class="navigation">
                <nav>
                    <ul class="menu_navigation">
                        <li><a href="javascript:;">關於｜ABOUT</a></li>
                        <li><a href="javascript:;">案例｜PROJECTS</a></li>
                        <li><a href="javascript:;">服務｜SERVICE</a></li>
                        <li><a href="javascript:;">聯繫｜CONTACT</a></li>
                    </ul>
                    <ul class="menu_socialicon">
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                            /></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="btnBurger">
                <img src="../assets/res/01桌機主頁/Property 1=Menu, Property 2=Normal.png" alt="" />
            </div>
        </header>
        <h1>UNITE DESIGN</h1>
        <div class="addition" id="btn_gotop">
            <span class="material-symbols-outlined"> arrow_drop_up </span>
        </div>
        <div class="addition" id="btn_contact">
            <span class="material-symbols-outlined"> call </span>
            <span>立即聯絡</span>
        </div>
        <!-- Banner -->
        <section class="layout layout_banner">
            <div>
                <img src="../assets/res/01桌機主頁/Banner.jpg" alt="" />
            </div>
            <div class="layout_banner_content">
                <div>
                    <h6>We put a premium on visual storytelling</h6>
                    <p>為客戶創造“品牌”和“廣告價值”</p>
                    <a href="javascript:;">Play Showreel</a>
                </div>
            </div>
        </section>
        <!-- SERVICE -->
        <section class="layout layout_service">
            <div class="layout_service_title">
                <h2>SERVICE</h2>
                <p>從策略到設計</p>
                <p>我們為你每個階段提供最專業的解決方案</p>
            </div>
            <div class="layout_service_content">
                <div class="layout_grid">
                    <div class="layout_flex">
                        <img src="../assets/res/01桌機主頁/SERVICE/Icon1.png" alt="" />
                        <div>
                            <h3>> 品牌整合<span>Strategy</span></h3>
                            <p>藉由深化的使用者經驗探索，為品牌建構更加精準的策略與價值傳遞。</p>
                            <p>品牌定位策略 | 品牌體驗策略 | 品牌命名與標語 | 品牌故事與創意文案</p>
                        </div>
                    </div>
                    <div class="layout_flex">
                        <img src="../assets/res/01桌機主頁/SERVICE/Icon2.png" alt="" />
                        <div>
                            <h3>> 創意發想<span>Creativity</span></h3>
                            <p>我們以體驗思維為中心，深度了解顧客行為，為品牌挖掘痛點並找尋機會。</p>
                            <p>企業訪查 | 市場研究 | 使用者與消費者訪談 | 設計思考工作坊</p>
                        </div>
                    </div>
                    <div class="layout_flex">
                        <img src="../assets/res/01桌機主頁/SERVICE/Icon3.png" alt="" />
                        <div>
                            <h3>> 設計規劃<span>Design</span></h3>
                            <p>為品牌提供因應當代多元載體的跨領域整合，讓品牌策略實踐於優秀的視覺設計之上。</p>
                            <p>
                                品牌標誌設計 | CIS 品牌識別系統 | 產品包裝設計 | 動態影像設計 | 網站介面設計 |
                                其他設計項目
                            </p>
                        </div>
                    </div>
                    <div class="landing_link">
                        <a href="javascript:;">Explore More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- PROJECTS -->
        <section class="layout layout_project">
            <h2>PROJECTS</h2>
            <p>經典案例</p>
            <!-- Swiper -->
            <div class="swiper swiper-profolio">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects1/Normal.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects2/Normal.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects3/Normal.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects4/Normal.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects5/Normal.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects6/Normal.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/Projects7/Normal.jpg" alt="" /></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- no Swiper (mobile) -->
            <div class="mobile-profolio">
                <img src="../assets/res/01桌機主頁/Projects1/Normal.jpg" alt="" />
                <img src="../assets/res/01桌機主頁/Projects2/Normal.jpg" alt="" />
                <img src="../assets/res/01桌機主頁/Projects3/Normal.jpg" alt="" />
                <img src="../assets/res/01桌機主頁/Projects4/Normal.jpg" alt="" />
            </div>
            <div class="landing_link">
                <a href="javascript:;">Explore More</a>
            </div>
        </section>
        <hr />
        <!-- DATA -->
        <section class="layout layout_case">
            <div>
                <p id="data_coop">0</p>
                <p>合作廠商</p>
            </div>
            <div>
                <p id="data_service">0</p>
                <p>服務類型</p>
            </div>
            <div>
                <p id="data_team">0</p>
                <p>團隊人員</p>
            </div>
            <div>
                <p id="data_case">0</p>
                <p>承接案件</p>
            </div>
        </section>
        <!-- CHIEF -->
        <section class="layout layout_chief">
            <div class="layout_chief_content">
                <img src="../assets/res/01桌機主頁/hammer/Hammer.png" alt="" />
            </div>
            <div class="layout_chief_content">
                <div class="profile">
                    <h3>設計總監</h3>
                    <h4>Hammer Wang</h4>
                    <p>美感的深耕與溝通力的提升</p>
                    <p>對於設計師是種任務與本能</p>
                    <p>而如何在我們所處文化與環境中落實美感傳達</p>
                    <p>需結合專業的各個面向與力量</p>
                    <p>各司其職在現今社會與文化中更顯重要</p>
                    <p>透過合作與交流加深美感的傳遞與感染力</p>
                </div>
                <div class="profolio">
                    <img src="../assets/res/01桌機主頁/hammer/icon.png" alt="" />
                    <ul>
                        <li>
                            <p>2018</p>
                            <p>斯洛伐克海報三年展/墨西哥海報雙年展</p>
                        </li>
                        <li>
                            <p>2020</p>
                            <p>紅點設計/墨西哥海報雙年展</p>
                        </li>
                        <li>
                            <p>2022</p>
                            <p>台灣視覺設計獎/莫斯科金蜂獎/紅點設計最佳設計</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- WHAT WE DO -->
        <section class="layout layout_do">
            <div class="layout_do_title">
                <h2>What We Do</h2>
                <p>服務內容</p>
            </div>
            <div class="layout_do_icon">
                <div>
                    <img src="../assets/res/01桌機主頁/icon/企業識別.svg" alt="" />
                    <p>企業識別</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/形象廣告.svg" alt="" />
                    <p>形象廣告</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/網站設計.svg" alt="" />
                    <p>網站設計</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/動畫製作.svg" alt="" />
                    <p>動畫製作</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/插畫設計.svg" alt="" />
                    <p>插畫設計</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/平面設計.svg" alt="" />
                    <p>平面設計</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/年度企劃.svg" alt="" />
                    <p>年度企劃</p>
                </div>
                <div>
                    <img src="../assets/res/01桌機主頁/icon/行銷企劃.svg" alt="" />
                    <p>行銷企劃</p>
                </div>
            </div>
        </section>
        <!-- YEAR BOOK -->
        <section class="layout layout_yb">
            <div class="layout_yb_cover">
                <img src="../assets/res/01桌機主頁/yearbook.jpg" alt="" />
            </div>
            <div class="layout_yb_title">
                <h2>UNITE DESIGN YearBook</h2>
                <h3>設計年鑑</h3>
                <p>
                    UNITE
                    DESIGN集結創新人才，為客戶提供品牌設計或企業培訓，包括問題診斷，戰略思考，視覺識別設計，網站設計，全面的品牌或企業整合設計服務。
                </p>
                <div class="landing_link">
                    <a href="javascript:;">Get it Now</a>
                </div>
            </div>
        </section>
        <hr />
        <!-- OUR CLIENTS -->
        <section class="layout layout_clients">
            <h2>OUR CLIENTS</h2>
            <p>合作客戶</p>
            <div class="swiper swiper-clients">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/客戶icon1.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="../assets/res/01桌機主頁/客戶icon2.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <!-- WORK TOGETHER -->
        <section class="layout layout_work">
            <div class="layout_work_content">
                <div class="layout_work_title">
                    <h2>Let’s Work Together</h2>
                    <p>If you’d like to meet up, talk through a project or find out more, feel free to get in touch.</p>
                    <p>我們很樂於挑戰各種可能性，若您有品牌或設計相關的需求，歡迎填寫我們的諮詢表單或發信至：</p>
                    <p>contact@uddesign.com.tw</p>
                </div>
                <div class="layout_work_form">
                    <form action="">
                        <div class="form_layout">
                            <label for="company_name">公司名稱</label><br />
                            <input
                                type="text"
                                id="company_name"
                                name="company_name"
                                value=""
                                placeholder="請輸入公司名稱"
                            />
                        </div>
                        <div class="form_layout form_flex">
                            <div>
                                <label for="user_name">聯絡人名稱</label><br />
                                <input
                                    type="text"
                                    id="user_name"
                                    name="user_name"
                                    value=""
                                    placeholder="請輸入聯絡人名稱"
                                />
                            </div>
                            <div>
                                <label for="phone">電話</label><br />
                                <input type="tel" id="phone" name="phone" value="" placeholder="請輸入電話" />
                            </div>
                        </div>
                        <div class="form_layout">
                            <label for="message">留言</label><br />
                            <textarea name="message" id="" cols="30" rows="10" placeholder="請輸入留言"></textarea>
                        </div>
                        <input id="submit" type="submit" value="SEND" />
                        <div class="form_social">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <img
                                            src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png"
                                            alt=""
                                        />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img
                                            src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png"
                                            alt=""
                                        />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img
                                            src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png"
                                            alt=""
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer_logo">
                <img src="../assets/res/01桌機主頁/主頁_footer_logo.png" alt="" />
            </div>
            <div class="footer_nav">
                <nav>
                    <ul class="footer_nav_menu">
                        <li><a href="javascript:;">關於｜ABOUT</a></li>
                        <li><a href="javascript:;">案例｜PROJECTS</a></li>
                        <li><a href="javascript:;">服務｜SERVICE</a></li>
                        <li><a href="javascript:;">聯繫｜CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer_info">
                <p>contact@uddesign.com.tw</p>
                <p>100台北市中山區忠孝西路一段6號16樓</p>
            </div>
            <hr />
            <div class="footer_copyright">
                <ul class="footer_copyright_icon">
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                </ul>
                <p>©2023 by UNITE DESIGN</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="../assets/js/increase.js"></script>
        <script src="../assets/js/script.js"></script>
    </body>
</html>
