<!DOCTYPE html>
<html lang="zh_TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UD官網</title>
        <meta property="og:site_name" content="UD官網" />
        <meta property="og:title" content="UD官網" />
        <meta property="og:description" content="UD官網。" />
        <meta property="og:locale" content="zh_TW" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <header>
        <div>
            <img src="../assets/res/01桌機主頁/Logo/Normal.jpg" alt="" />
        </div>
        <div class="navigation">
            <nav>
                <ul class="menu_navigation">
                    <li><a href="javascript:;">關於｜ABOUT</a></li>
                    <li><a href="javascript:;">案例｜PROJECTS</a></li>
                    <li><a href="javascript:;">服務｜SERVICE</a></li>
                    <li><a href="javascript:;">聯繫｜CONTACT</a></li>
                </ul>
                <ul class="menu_socialicon">
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                    <li>
                        <a href="javascript:;"
                            ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                        /></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="btnBurger">
            <img src="../assets/res/01桌機主頁/Property 1=Menu, Property 2=Normal.png" alt="" />
        </div>
    </header>
    <h1>UNITE DESIGN - PORTFOLIO</h1>
    <div class="addition" id="btn_gotop">
        <span class="material-symbols-outlined"> arrow_drop_up </span>
    </div>
    <div class="addition" id="btn_contact">
        <span class="material-symbols-outlined"> call </span>
        <span>立即聯絡</span>
    </div>
    <!-- BANNER -->
    <div class="subpage s_banner">
        <h2>PORTFOLIO</h2>
    </div>
    <!-- BREADCRUMB -->
    <div class="subpage s_breadcrumb">
        <a href="javascript:;">回首頁</a><span> > </span> <a href="javascript:;">案例</a><span> > </span>
        <a href="javascript:;">作品集</a>
    </div>

    <section class="layout_portfolio">
        <img src="../assets/res/03桌機案例/Project_result/Group 3.jpg" alt="" />
        <img src="../assets/res/03桌機案例/Project_result/1.jpg" alt="" />
        <img src="../assets/res/03桌機案例/Project_result/2.jpg" alt="" />
        <img src="../assets/res/03桌機案例/Project_result/3.jpg" alt="" />
        <img src="../assets/res/03桌機案例/Project_result/4.jpg" alt="" />
        <img src="../assets/res/03桌機案例/Project_result/5.jpg" alt="" />
    </section>

    <footer>
        <div class="footer_logo">
            <img src="../assets/res/01桌機主頁/主頁_footer_logo.png" alt="" />
        </div>
        <div class="footer_nav">
            <nav>
                <ul class="footer_nav_menu">
                    <li><a href="javascript:;">關於｜ABOUT</a></li>
                    <li><a href="javascript:;">案例｜PROJECTS</a></li>
                    <li><a href="javascript:;">服務｜SERVICE</a></li>
                    <li><a href="javascript:;">聯繫｜CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer_info">
            <p>contact@uddesign.com.tw</p>
            <p>100台北市中山區忠孝西路一段6號16樓</p>
        </div>
        <hr />
        <div class="footer_copyright">
            <ul class="footer_copyright_icon">
                <li>
                    <a href="javascript:;"
                        ><img src="../assets/res/01桌機主頁/Property 1=Behance, Property 2=Normal.png" alt=""
                    /></a>
                </li>
                <li>
                    <a href="javascript:;"
                        ><img src="../assets/res/01桌機主頁/Property 1=Ins, Property 2=Normal.png" alt=""
                    /></a>
                </li>
                <li>
                    <a href="javascript:;"
                        ><img src="../assets/res/01桌機主頁/Property 1=FB, Property 2=Normal.png" alt=""
                    /></a>
                </li>
            </ul>
            <p>©2023 by UNITE DESIGN</p>
        </div>
    </footer>
    <body></body>
</html>
