:root {
    font-family: 微軟正黑體, 'Noto Sans TC', Roboto;

    body {
        margin: 0;
    }

    a {
        text-decoration: none;
        display: block;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
    }

    section {
        margin: 5rem 0;
    }

    // 設置
    --bgc-main: #232323;
    --bgc-landing-btn: #252525;
    --bgc-landing-link: #4b4b4b;

    --h1-font: 40px;
    --h2-font: 32px;
    --h3-font: 24px;
    --h4-font: 20px;
    --h5-font: 18px;
    --h6-font: 22px;

    --h2-padding: 1rem 0;
}

header {
    display: flex;
    align-items: center;

    // LOGO style
    .h_logo {
        width: 30%;
    }

    // menu style
    .h_menu {
        width: 55%;
        ul {
            justify-content: right;

            li {
                padding: 0 1rem;
                cursor: pointer;
            }
        }
    }

    .h_udm {
        width: 15%;
        text-align: center;

        a {
            display: inline-block;
            background-color: var(--bgc-landing-btn);
            color: white;
            text-align: center;
            padding: 0.5rem 1rem;
        }
    }
}

section {
    position: relative;

    // banner style
    .b_video {
        max-height: 600px;
        overflow-y: hidden;
        video {
            width: 100%;
        }
    }
    .b_icon {
        ul {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-evenly;
            background-color: var(--bgc-main);
            color: white;
            width: 700px;
            padding: 3rem 0 1rem 0;

            li {
                p {
                    text-align: center;
                    cursor: default;
                }
            }

            li:nth-child(2) {
                border-right: 1px solid;
                border-left: 1px solid;
                padding: 0 4rem;
            }
        }
    }
}

// intro style
section.intro {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 870px 450px;
    justify-content: center;
    padding: 0px 12rem;
    position: relative;

    .i_img {
        position: relative;
        img {
            width: 100%;
        }
        .i_landing {
            position: absolute;
            background-color: var(--bgc-landing-link);
            bottom: -5%;
            right: -15%;
            a {
                color: white;
                text-align: center;
                padding: 1rem 4.5rem;
            }
        }
    }
    .i_text {
        margin: 1rem 2rem;
        h2 {
            font-size: var(--h2-font);
            padding: 1rem 0;
        }
    }
}

// data
section.data {
    width: 50%;
    margin: auto;
    .i_data {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        justify-content: center;
        text-align: center;
        li {
            font-weight: 600;
            p.data_count {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

section {
    position: relative;
    // service
    .service {
        color: white;
        background-color: var(--bgc-main);

        h2 {
            text-align: center;
            color: white;
            padding: 3rem 0;
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            width: 1200px;
            margin: auto;
            padding: 1rem 0 7rem;
            li {
                text-align: center;
            }
            li:nth-child(1),
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4),
            li:nth-child(5),
            li:nth-child(6),
            li:nth-child(7) {
                border-right: 1px solid;
            }
        }
    }

    // profolio
    .profolio {
        color: white;
        background-color: var(--bgc-landing-link);
        width: 1200px;
        margin: auto;
        position: absolute;
        left: 50%;
        bottom: -70%;
        transform: translateX(-50%);
        h2 {
            text-align: center;
        }
    }
}

// section.profolio{

// }
