:root {
    font-family: 微軟正黑體, 'Noto Sans TC', Roboto;

    a {
        text-decoration: none;
        display: block;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
    }

    body {
        margin: 0;
    }

    // 設置
    --main-bgc: #232323;
}

header {
    display: flex;
    align-items: center;

    // LOGO style
    .h_logo {
        width: 30%;
    }

    // menu style
    .h_menu {
        width: 55%;
        ul {
            justify-content: right;

            li {
                padding: 0 1rem;
                cursor: pointer;
            }
        }
    }

    .h_udm {
        width: 15%;
        text-align: center;

        a {
            display: inline-block;
            background-color: black;
            color: white;
            text-align: center;
            padding: 0.5rem 1rem;
        }
    }
}

section {
    position: relative;

    // banner style
    .b_video {
        max-height: 600px;
        overflow-y: hidden;
        video {
            width: 100%;
        }
    }
    .b_icon {
        ul {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-evenly;
            background-color: var(--main-bgc);
            color: white;
            width: 700px;
            padding: 3rem 0 1rem 0;

            li {
                p {
                    text-align: center;
                    cursor: default;
                }
            }

            li:nth-child(2) {
                border-right: 1px solid;
                border-left: 1px solid;
                padding: 0 4rem;
            }
        }
    }
}

// intro style
section.intro {
    margin-top: 10rem;
    display: flex;
    padding: 0px 9rem;
    
    .i_text {
        margin: 1rem 2rem;
    }
}
