@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');
:root {
    font-family: 'Roboto', 'Noto Sans TC', 蘋果儷中黑, 微軟正黑體, sans-serif;
    box-sizing: border-box;
    transition: 0.3s;
    height: 100%;
    position: relative;
    // style-setting
    --swiper-theme-color: black;
    --Primary_color: black;
    --Primary_font_color: #cccccc;
    --Primary_back_color: #232323;
    --Primary_btn_color: #4b4b4b;
    --Heading1_pc_32: 32px;
    --Heading2_pc_24: 24px;
    --Heading3_pc_20: 20px;
    --Content1_pc_18: 18px;
    --Content2_pc_16: 16px;
    --Content3_pc_14: 14px;

    --Heading1_mb_24: 24px;
    --Heading2_mb_18: 18px;
    --Heading3_mb_15: 15px;
    --Content1_mb_16: 16px;
    --Content2_mb_14: 14px;
    --Content3_mb_12: 12px;
}
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
    color: var(--Primary_color);
    transition: 0.3s;
}
ul {
    list-style: none;
    padding: 1rem;
    padding-bottom: 0 !important;
}
a {
    text-decoration: none;
}
h2 {
    font-size: var(--Heading1_pc_32);
    font-weight: 500;
    text-align: center;
    line-height: 37.5px;
    margin: 1rem 0;
}
.landing_link {
    margin: 3rem 0;
    text-align: center;
    position: relative;
    a {
        box-shadow: 0px 3px 3px #a2a2a2;
        border: 1px solid;
        padding: 0.5rem 2rem;
        margin: 2rem 0;
        background-color: #fff;
        font-size: var(--Content3_pc_14);
    }
}

// 頁首
header {
    max-width: 1300px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 1rem;
    .navigation {
        display: block;
        nav {
            display: flex;
            align-items: center;
            z-index: 99;
            ul.menu_navigation {
                display: flex;
                align-items: center;
                li {
                    padding: 0.7rem;
                    font-size: var(--Content2_pc_16);
                }
            }
            ul.menu_socialicon {
                display: flex;
                align-items: center;
                padding-left: 1rem;
                justify-content: center;
                li {
                    padding-left: 0.3rem;
                }
            }
        }
    }
    #btnBurger {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        .navigation {
            nav {
                display: none;
                ul {
                    width: 130px;
                    a {
                        color: white;
                    }
                }
            }
        }
        #btnBurger {
            display: block;
        }
    }
}
hr {
    width: 90%;
    margin: 5rem auto;
}
////////////////////////

// Banner
.layout_banner {
    position: relative;
    img {
        width: 100%;
    }

    .layout_banner_content {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.85);
        top: 33%;
        left: 0;
        width: 670px;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            margin: 0 7rem;
            h6 {
                font-weight: 500;
                font-size: 38px;
                line-height: 44.53px;
                letter-spacing: 2.5px;
                margin: 0;
            }
            p {
                font-weight: 300;
                font-size: var(--Content1_pc_18);
                line-height: 26.06px;
                letter-spacing: 2.5px;
            }
            a {
                font-family: 'Noto Sans';
                font-weight: 500;
                font-size: var(--Content3_pc_14);
                line-height: 19.07px;
                display: block;
                text-align: center;
                width: 130px;
                padding: 0.7rem 0.5rem;
                margin: 2rem 0;
                background-color: #fff;
                box-shadow: 2px 5px 10px #a2a2a2;
            }
        }
    }
}
@media screen and (max-width: 670px) {
    .layout_banner {
        .layout_banner_content {
            width: 90%;
            height: 200px;
            top: 85%;
            left: 50%;
            transform: translateX(-50%);
            div {
                margin: 0 5rem;
                text-align: center;
                h6 {
                    font-size: 20px;
                    line-height: 2rem;
                }
                p {
                    font-size: var(--Content2_mb_14);
                }
                a {
                    margin: auto;
                }
            }
        }
    }
}
////////////////////////

// SERVICE
.layout_service {
    .layout_service_title {
        margin: 15rem 15rem 10rem;
        h2 {
            letter-spacing: 3px;
        }
        p {
            font-size: var(--Content2_pc_16);

            font-weight: 300;
            line-height: 22px;
            letter-spacing: 3.5px;
            text-align: center;
            margin: auto;
        }
    }
    .layout_service_content {
        max-width: 1000px;
        margin: 7rem auto;
        .layout_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
            .layout_flex {
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                margin: 0 2rem;
                h3 {
                    font-weight: 500;
                    font-size: var(--Heading3_pc_20);
                    line-height: 28.96px;
                    letter-spacing: 2.5px;
                    margin: 0 2rem;
                    span {
                        font-weight: 400;
                        font-size: var(--Content3_pc_14);
                        line-height: 20px;
                        letter-spacing: 1px;
                        margin-left: 1rem;
                    }
                }
                p {
                    font-weight: 400;
                    font-size: var(--Content3_pc_14);
                    line-height: 20px;
                    text-align: left;
                    letter-spacing: 2.5px;
                    margin: 1rem 2rem 1rem;
                }
            }
            .landing_link {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin: 0;
            }
        }
        @media screen and (max-width: 670px) {
            .layout_grid {
                grid-template-columns: 1fr;
                .layout_flex {
                    h3 {
                        font-size: var(--Heading2_mb_18);
                        span {
                            font-size: var(--Content3_mb_12);
                            margin: 0 1rem;
                        }
                    }
                    p {
                        font-size: var(--Content3_mb_12);
                    }
                }
                .landing_link {
                    justify-content: center;
                }
            }
        }
    }
}
@media screen and (max-width: 670px) {
    .layout_service {
        margin-top: 15rem;
        .layout_service_title {
            margin: 0;
            h2 {
                font-size: var(--Heading3_pc_20);
            }
            p {
                font-size: var(--Content3_mb_12);
                line-height: 19px;
            }
        }
    }
}
////////////////////////

// PROJECT
.layout_project {
    height: 100%;
    position: relative;
    h2 {
        letter-spacing: 1px;
    }
    p {
        font-size: var(--Content2_pc_16);

        font-weight: 400;
        line-height: 22px;
        letter-spacing: 3.5px;
        text-align: center;
    }
    .layout_link {
        margin: 3rem 0;
        text-align: center;
        a {
            box-shadow: 0px 3px 3px #a2a2a2;
            border: 1px solid;
            padding: 0.5rem 2rem;
            margin: 2rem 0;
            background-color: #fff;
        }
    }
    .mobile-profolio {
        display: none;
    }

    .swiper {
        width: 670px;
        height: 500px;
        margin: 2rem auto 0;
        display: block;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2) !important;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-button-prev::after {
        content: '\e5cb';
        font-family: 'Material Icons';
    }
    .swiper-button-next::after {
        content: '\e5cc';
        font-family: 'Material Icons';
    }
    .swiper-pagination {
        bottom: -2px !important ;
    }
}
@media screen and (max-width: 670px) {
    .layout_project {
        h2 {
            font-size: var(--Heading3_pc_20);
            margin: 0;
        }
        p {
            font-size: var(--Content3_mb_12);
            margin-top: 0;
            margin-bottom: 5rem;
        }
        .mobile-profolio {
            display: block;
            width: 100%;
            img {
                display: block;
                margin: auto;
                margin-bottom: 2rem;
            }
        }
        .swiper {
            display: none;
        }
    }
}
////////////////////////

// DATA
.layout_case {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 700px;
    margin: 10rem auto;
    text-align: center;
    font-size: 36px;
    #data_coop,
    #data_service,
    #data_team,
    #data_case {
        font-size: 35px;
    }
    padding: {
        font-size: var(--Content2_pc_16);
    }
    div {
        p:nth-child(2) {
            font-size: var(--Content2_pc_16);
        }
    }
}
@media screen and (max-width: 670px) {
    .layout_case {
        grid-template-columns: 1fr 1fr;
    }
}
////////////////////////

// CHIEF
.layout_chief {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f2f2f2;
    height: 830px;
    .layout_chief_content {
        margin: 0 3rem;
        img {
            width: 100%;
        }
        .profile {
            h3 {
                font-size: var(--Content1_pc_18);
                font-weight: 350;
                margin-bottom: 0;
                letter-spacing: 2px;
            }
            h4 {
                font-size: var(--Heading2_pc_24);
                margin: 0;
                margin-bottom: 1rem;
                font-weight: 700;
                letter-spacing: 3px;
            }
            p {
                margin: 0;
                font-size: var(--Content2_pc_16);
                line-height: 28px;
                font-weight: 300;
                letter-spacing: 1.5px;
                color: var(--Primary_back_color);
            }
        }
        .profolio {
            margin-top: 3rem;
            ul {
                padding: 0;
                margin-top: 1rem;
                margin-bottom: 0;
                li {
                    padding-bottom: 1rem;
                    p {
                        font-weight: 300;
                        font-size: var(--Content3_pc_14);
                        line-height: 22px;
                        letter-spacing: 1px;
                        margin: 0;
                    }
                    p:nth-child(1) {
                        color: #797979;
                    }
                    p:nth-child(2) {
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 670px) {
    .layout_chief {
        display: block;
        height: 100%;
        padding-bottom: 5rem;
        .layout_chief_content {
            margin: 3rem;
            margin-bottom: 0;
            padding-top: 5rem;
            .profile {
                h3 {
                    font-size: 20px;
                    font-weight: 350;
                    margin-bottom: 0;
                    letter-spacing: 2px;
                }
                h4 {
                    font-size: var(--Content1_mb_16);
                    margin: 0;
                    margin-bottom: 1rem;
                    font-weight: 700;
                    letter-spacing: 3px;
                }
                p {
                    margin: 0;
                    font-size: var(--Content3_mb_12);
                    line-height: 28px;
                    font-weight: 300;
                    letter-spacing: 1.5px;
                    color: var(--Primary_back_color);
                }
            }
        }
        .layout_chief_content:nth-child(2) {
            padding-top: 0rem;
        }
    }
}
////////////////////////

// WHAT WE DO
.layout_do {
    background-color: var(--Primary_back_color);
    h2 {
        font-size: var(--Heading1_pc_32);

        letter-spacing: 1px;
        line-height: 37.5px;
        color: white;
    }
    p {
        font-size: var(--Content2_pc_16);

        letter-spacing: 3.5px;
        line-height: 22px;
        text-align: center;
        color: white;
    }
    .layout_do_title {
        padding: 3rem;
        margin-top: 0;
    }
    .layout_do_icon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 7rem;
        p {
            font-size: var(--Content3_pc_14);
        }
        div {
            text-align: center;
            height: 180px;
        }
        div:nth-child(1),
        div:nth-child(2),
        div:nth-child(3),
        div:nth-child(5),
        div:nth-child(6),
        div:nth-child(7) {
            border-right: 1px white solid;
        }
    }
}
@media screen and (max-width: 670px) {
    .layout_do {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
        .layout_do_title {
            margin-bottom: 0;
        }
        .layout_do_icon {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 0;
        }
        div {
            margin: 3rem 0;
            div:nth-child(2),
            div:nth-child(6) {
                border: none !important;
            }
        }
        div:nth-child(5) {
            order: 2;
        }
        div:nth-child(6) {
            order: 3;
        }
        div:nth-child(3) {
            order: 4;
        }
        div:nth-child(4) {
            order: 5;
        }
        div:nth-child(7) {
            order: 6;
        }
        div:nth-child(8) {
            order: 8;
        }
    }
}
////////////////////////

// YEAR BOOK
.layout_yb {
    display: flex;
    width: 870px;
    margin: auto;
    .layout_yb_cover,
    .layout_yb_title {
        padding: 0 1rem;
        margin: 10rem 0;
    }
    .layout_yb_title {
        h2 {
            font-weight: 500;
            font-size: var(--Heading1_pc_32);
            line-height: 41.86px;
            letter-spacing: 1px;
            margin-top: 0;
            text-align: left;
        }
        h3 {
            font-weight: 400;
            font-size: 22px;
            line-height: 31.86px;
            letter-spacing: 1px;
            margin-top: 3rem;
        }
        p {
            font-family: 'Inter';
            font-weight: 500;
            font-size: var(--Content2_pc_16);
            line-height: 28.96px;
        }
        .landing_link {
            margin-top: 5rem;
            display: flex;
        }
    }
}
@media screen and (max-width: 670px) {
    .layout_yb {
        display: block;
        width: 100%;
        .layout_yb_cover {
            margin: 2rem 0 !important;
            img {
                width: 100%;
            }
        }
        .layout_yb_cover,
        .layout_yb_title {
            margin: 5rem 0;
            h2 {
                font-size: 20px;
            }
            h3 {
                font-size: var(--Heading2_mb_18);
            }
            p {
                font-size: var(--Content3_mb_12);
            }
        }
    }
    .landing_link {
        margin-top: 0 !important;
    }
}
////////////////////////

// OUR CLIENTS
.layout_clients {
    text-align: center;
    h2 {
        font-weight: 500;
        font-size: var(--Heading1_pc_32);
        line-height: 37.5px;
        letter-spacing: 1px;
    }
    p {
        font-weight: 400;
        font-size: var(--Content2_pc_16);
        line-height: 22px;
        letter-spacing: 3.5pxs;
    }
    .swiper {
        width: 775px;
        padding: 60px 10px;
    }
}
@media screen and (max-width: 775px) {
    .layout_clients {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: var(--Content3_mb_12);
        }
        .swiper {
            width: 100%;
            padding: 30px 0px;
        }
        img {
            width: 100%;
        }
    }
}
////////////////////////

// LET'S WORK TOGETHER
.layout_work {
    background-image: url('../res/contact_bg.jpg');
    background-size: cover;
    padding: 5rem;
    .layout_work_content {
        display: flex;
        margin: auto;
        max-width: 1000px;
        h2 {
            font-size: var(--Heading1_pc_32);
            text-align: left;
            line-height: 44.53px;
            letter-spacing: 1px;
            margin: 1rem 0;
        }
        .layout_work_title p:nth-child(3) {
            margin-top: 3rem;
        }

        .layout_work_title,
        .layout_work_form {
            width: 50%;
            margin: 3rem;
            .form_layout,
            .form_flex {
                margin: 1rem 0;
            }
            .form_layout {
                width: 100%;
            }
            .form_flex {
                display: flex;
                justify-content: space-between;
                div {
                    width: 48%;
                }
            }
            input,
            textarea {
                width: 100%;
                box-sizing: border-box;
                padding: 5px;
            }
            #submit {
                background-color: var(--Primary_btn_color);
                color: white;
                border: none;
                height: 40px;
                cursor: pointer;
            }
            .form_social {
                margin-top: 1rem;
            }
        }
    }
}
@media screen and(max-width:670px) {
    .layout_work {
        display: none;
    }
}
////////////////////////

// 頁尾
footer {
    background-color: var(--Primary_font_color);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin: auto;
    align-items: center;
    justify-items: center;
    .footer_nav {
        ul.footer_nav_menu {
            display: flex;
            padding: 0;
            li {
                margin: 0 1rem;
            }
        }
    }
    .footer_info {
        p {
            margin: 6px;
            text-align: left;
        }
    }
    .footer_copyright {
        margin: 2rem 0;
        ul.footer_copyright_icon {
            li {
                padding: 0 5px;
            }
            display: flex;
            justify-content: flex-end;
            padding: 0;
            margin-bottom: 0;
        }
        p {
            margin: 0;
        }
    }
    hr {
        display: none;
    }
}

@media screen and(max-width:670px) {
    footer {
        font-size: var(--Content3_mb_12);
        display: block;
        .footer_logo {
            text-align: center;
            padding: 2rem 0 1rem;
        }
        .footer_nav {
            ul.footer_nav_menu {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                row-gap: 1rem;
            }
        }
        .footer_info {
            display: none;
        }
        .footer_copyright {
            ul.footer_copyright_icon {
                justify-content: center;
            }
            p {
                text-align: center;
                padding-bottom: 1rem;
            }
        }
        hr {
            display: block;
            border-top: 1px solid whi;
            margin: 1rem;
        }
    }
}
////////////////////////
